.rem-fav-btn{
    cursor: pointer;
    font-size: large;
    background-color: var(--pokeball-red);
    color: var(--txt-primary);
    text-align: center;
    padding: 1rem;
    width: 12.5rem;
    border-radius: 5vw;
}